<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="vaultaddress" value="http://127.0.0.1:8200"/>
    <add key="frequencyInMinutes" value="5"/>
    <add key="haproxyFolder" value=""/>
    <add key="logFilePath" value="/Log/log.txt"/>
    <add key="KeysFilePath" value="/Data/KeyValue.txt"/>
  </appSettings>
</configuration>